<!-- Main container -->
<main class="main-content">

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Content
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section class="section py-100">
      <div class="container">
        <header class="section-header">
          <small>Oops</small>
          <h1>Page Not Found!</h1>
          <hr>
          <p class="lead">Seems you're looking for something that doesn't exist.</p>
        </header>
  
        <p class="text-center"><a class="btn btn-primary" style="background: #6aaae4; border-color: #6aaae4;" href="/">Return home</a></p>
  
      </div>
    </section>
  
  </main>
  <!-- END Main container -->
    
    